build/
release/
*.o
*.cache
config.status
*.a
needed*
lneeded*
errors
Makefile
config.h
lconfig.h
*.log
ofiles

stamp-h
config-stamp
conf

bfd/bfd.h
bfd/elf32-target.h
bfd/stmp-bfd.h

binutils/underscore.c

binutils/ar
binutils/c++filt
binutils/c++filt.1
binutils/nm.new
binutils/objcopy
binutils/objdump
binutils/ranlib
binutils/size
binutils/strings
binutils/strip.new
binutils/addr2line
binutils/cxxfilt
binutils/nm-new
binutils/readelf
binutils/stamp-under
binutils/strip-new

gas/as.new
gas/gasp.new
gas/.gdbinit
gas/as-new
gas/gasp-new

libiberty/stamp-picdir
libiberty/xhost-mkfrag

# symlinks
gas/atof-targ.c
gas/obj-format.c
gas/obj-format.h
gas/targ-cpu.c
gas/targ-cpu.h
gas/targ-env.h
libiberty/alloca-conf.h

ld/ldgram.c
ld/ldgram.h
ld/ldlex.c
ld/ldscripts/
ld/eelf32bsmip.c
ld/eelf32lsmip.c
ld/eelf64bmip.c
ld/eelf64lmip.c
ld/emipsbig.c
ld/emipslit.c
ld/ld-new
ld/ldemul-list.h
ld/stringify.sed

POTFILES
*.la
libtool
tdirs
required-list
*.lai
*.lo
.gdbinit
targ-vals.def
tconfig.h
Makefile.in

itbl-*
stamp-lib
cconfig.h
mt-frag
bfd-in3.h
elf64-target.h
stamp-ofiles
stmp-bfd-h
targmatch.h
libintl.h
po2tbl.sed

arlex.c
arparse.*
